* {
	margin: 0;
	padding: 0;
	font-family: "museo-sans", sans-serif;
	color: #696969;
}
/*front page*/
.start {
	text-align: right;
	margin: 40px 0 0 0;
}
.subtitle {
	border-top: 1px solid #D2ED9E;
	border-bottom: 1px solid #D2ED9E;
	font-weight: 400;
	font-size: 1.6em;
	color: #A3C563;
	padding: 20px 0;
	margin: 10px auto;
	width: 80%;
	text-align: center;
	font-weight: 700;
}
.main_header p {
	padding: 10px;
}
.zipSearch{
	display: none;
}
/*login page*/
.register_header, .login_header {
	color: #A3C563;
	margin: 20px 0;
	font-size: 2.6em;
	text-align: center;
}
.register, .login {
	display: inline-block;
	vertical-align: top;
	width: 45%;
}
.reg_form, .login_form {
	width: 70%;
	text-align: right;
	border: 1px solid #A3C563;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 4px 4px #F3FAE4;
}
.reg_form p, .login_form p {
	padding: 10px;
	font-size: 1.4em;
}
.reg_form .ast {
	font-size: 0.8em;
	padding: 2px 10px;
}
#errors {
	text-align: center;
	margin: 30px;
	font-size: 1.5em;
	color: #8B2F5F;
}

/*welcome page*/
.browse, .messages {
	font-size: 0.8em;
	margin: 30px 0;
}
.me, .pets {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #A3C563;
	padding: 30px;
	box-sizing: border-box;
	width: 45%;
	margin-left: 20px;
	box-shadow: 4px 4px #F3FAE4;
}
.pet {
	margin-top: 20px;
}
.name {
	margin-bottom: 20px;
}
.browse {
	border-top: 1px solid #C7C6C6;
	border-bottom: 1px solid #C7C6C6;
	margin: 50px 20px;
}
.browse h1 {
	text-align: center;
	margin: 20px 0;
}
.browse_btn a {
	display: inline-block;
	margin: 30px 0;
}
.mail {
	border-bottom: 1px solid #C7C6C6;
	margin: 50px 20px;
}
.mail h1 {
	text-align: center;
	margin: 30px 0;
}
.profile_pic, .pet_pic {
	margin: 20px 0;
}
.profile_img {
	width: 200px;
}
.pic_wrap {
	display: inline-block;
	margin: 0 20px 20px 0;
}
/*profile page*/
.profile_msg form {
	border: none;
	box-shadow: none;
	width: 98%;
	margin: 0 auto;
	box-sizing: border-box;

}
.profile_msg input[type="text"], .profile_msg textarea[type="text"] {
	width: 100%;
}
.profile_msg p {
	padding: 10px 0;
	text-align: left;
}
.profile_msg h1 {
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #8B2F5F;
}
/*edit page*/
.upload_msg {
	color: #8B2F5F;
	text-align: center;
	font-size: 2em;
}
.profile form {
	margin-bottom: 20px;
	width: 55%;
}
.profile h2 {
	text-align: center;
	padding: 20px;
}
.textarea_label, .desc {
	vertical-align: top;
}
/*map page*/
.back {
	margin: 50px 0;
	text-align: center;
}
/*messages page*/
.no_msg {
	color: #8B2F5F;
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 20px;
	font-family: "museo-sans", sans-serif;
}
.display_msg {
	border-top: 1px solid #C7C6C6;
	padding: 20px 0;
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-size: 1.2em;
}
.display_msg p {
	padding: 10px 0;
}
.display_form form, .reply_form_vis form {
	border: none;
	border-top: 1px solid #C7C6C6;
	padding: 20px 0;
	width: 90%;
	margin: 0 auto;
	box-shadow: none;
	text-align: left;
	font-size: 0.8em;
}
.compose form {
	border: none;
	box-shadow: none;
	text-align: left;
	border-bottom: 1px solid #C7C6C6;
	border-top: 1px solid #C7C6C6;
	padding: 20px 0;
	width: 90%;
	margin: 0 auto;
	font-size: 0.8em;
}
.reply_labels {
	padding: 0 10px;
	margin: 0;
}
.reply_form_vis form {
	border-bottom: none;
}
.reply_form_vis input[type="text"], .display_form input[type="text"] {
	width: 50%;
}
.compose textarea[type="text"] {
	margin: 10px;
	height: 12em;
}
.compose input[type="text"], .compose textarea[type="text"] {
	width: 100%;
	box-sizing: bored-box;
}
.compose input[type="submit"] {
	font-size: 0.8em;
}
.reply_form {
	display: none;
}
.mailbox table, .sent_mail table {
	border: 1px solid #8B2F5F;
	width: 90%;
	margin: 0 auto 20px auto;
	padding: 10px;
	border-collapse: collapse;
	box-shadow: 4px 4px #F2DBE7;
}
.mailbox th, .sent_mail th {
	border-bottom: 1px solid #8B2F5F;
	padding: 10px;
	color: #8B2F5F;
	background-color: #F2DDE8;
}
.mailbox td, .sent_mail td {
	padding: 10px;
	text-align: center;
}
.mailbox tr:nth-of-type(even), .sent_mail tr:nth-of-type(even) {
	background-color: #FCF6F9;
}
.view_sent_btn a {
	padding: 8px;
	color: #8B2F5F;
	border: 1px solid #8B2F5F;
	text-decoration: none;
	font-size: 0.8em;
	box-sizing: border-box;
	box-shadow: 4px 4px #F2DDE8;
	background-color: white;
	text-align: center;
}
.view_sent_btn {
	text-align: center;
	margin-bottom: 20px;
}
.sent_mail_container {
	display: none;
}
/*browse page*/
.user_profiles {
	padding: 20px;
	width: 99%;
	margin: 0 auto;
}
/*generic element stylings for entire site*/
.edit {
	display: inline-block;
	margin-bottom: 50px;
}
.edit a {
	margin-right: 20px;
}
.nav_buttons {
	text-align: center;
}
.button a {
	padding: 14px 24px;
	color: #fff;
	background-color: #A3C563;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 15px 0 0 15px;
	border-bottom: 4px solid #7A9E35;
	font-weight: 300;
}
.titles {
	font-family: "fatfrank", sans-serif;
	font-size: 4em;
	color: #7A9E35;
	padding: 20px 0 50px 0;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.flash {
	color: #8B2F5F;
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 20px;
	font-family: "museo-sans", sans-serif;
}
.small_title {
	font-weight: bold;
}
input[type="text"], input[type="password"], textarea[type='text']{
	padding: 4px;
	font-size: 0.8em;
	outline: none;
	border: 1px solid #A3C563;
	box-shadow: 4px 4px #F3FAE4;
}
textarea[type='text'] {
	height: 5em;
	width: 50%;
	resize: none;
}
input[type="submit"] {
	border: none;
	padding: 10px 20px;
	color: #fff;
	background-color: #A3C563;
	text-decoration: none;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 15px;
	border-bottom: 4px solid #7A9E35;
	font-weight: 100;
	font-size: 0.8em;
	display: block;
	margin: 0 auto;
	outline: none;
}
form {
	width: 70%;
	text-align: right;
	border: 1px solid #A3C563;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 4px 4px #F3FAE4;
	background-color: white;
}
form p {
	padding: 10px;
	font-size: 1.4em;
}
form .ast {
	font-size: 0.8em;
	padding: 2px 10px;
}
.logout {
	text-align: center;
	margin: 40px 0;
}
